{% load staticfiles %}
<html>
    <head>
        <title>ośrodek zdrowia</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    </head>
    <body>
        <div>
            <h1><a href="/">rejestracja</a></h1>
        </div>

        {% for post in posts %}
            <div>
                <p>{{ posts }}</p>
                <h1>{{ posts }}</h1>
                <p>{{ posts }}</p>
            </div>
        {% endfor %}
    </body>
</html>
